@using MainApp.MVC.Helpers;
@using SD.Enums;
@using SD.Helpers;
@model MainApp.MVC.ViewModels.IntranetPortal.ApplicationSettings.ApplicationSettingsCreateViewModel


@{
    ViewData["Title"] = @DbResHtml.T("Add new application setting", "Resources");
}
<div class="content-header bg-gradient-white border-bottom mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-muted mb-0"> @ViewData["Title"]</h4>
                <small>@DbResHtml.T("Form for adding new application setting", "Resources")</small>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" class="text-success">@DbResHtml.T("Home", "Resources")</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form asp-area="IntranetPortal" asp-controller="ApplicationSettings" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h3 class="card-title">@DbResHtml.T("Form for add new application settings", "Resources")</h3>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Key" class="form-label">@DbResHtml.T("Setting Key", "Resources")</label>
                                <textarea asp-for="Key" id="insertedKey" type="text" class="form-control" required></textarea>
                                <span asp-validation-for="Key" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Value" class="form-label">@DbResHtml.T("Setting Value", "Resources")</label>
                                <textarea asp-for="Value" type="text" class="form-control" required></textarea>
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="form-label">@DbResHtml.T("Setting Description", "Resources")</label>
                                <textarea asp-for="Description" type="text" class="form-control" rows="10" required></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label asp-for="DataType" class="control-label">@DbResHtml.T("Setting Data Type", "Resources")</label>
                                    <select id="settingDataType" class="form-control" asp-for="DataType" asp-items="Html.GetEnumSelectList<ApplicationSettingsDataType>()" required></select>
                                    <span asp-validation-for="DataType" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="InsertedModule" class="control-label">@DbResHtml.T("Module", "Resources")</label>
                                        @Html.DropDownListFor(x => x.InsertedModule, new SelectList(Model.Modules, "Value", "Value"), "", new { @class = "form-control", id = "insertedModule", style = "width: 100%;"})
                                        <span asp-validation-for="InsertedModule" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="@DbResHtml.T("Create", "Resources")" class="mb-1 mr-2 btn bg-gradient-success border-0" onclick="formSubmit(event)" />
                                <a asp-area="IntranetPortal" asp-controller="ApplicationSettings" asp-action="Index" class="mb-1 btn bg-gradient-secondary border-0">@DbResHtml.T("Back To List", "Resources")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#settingDataType').select2({
                width: '100%',
                theme: 'bootstrap4',
                placeholder: "@DbResHtml.T("Please select data type", "Resources")",
                allowClear: true
            })
            $('#insertedModule').select2({
                width: '100%',
                theme: 'bootstrap4',
                placeholder: "@DbResHtml.T("Please select module", "Resources")",
                allowClear: true
            })
        })

        function formSubmit(e) {
            var allApplicationSettingsKeysList = @Html.Raw(Json.Serialize(Model.AllApplicationSettingsKeys));
            var keyInserted = $("#insertedKey").val();
            var existingKeys = [];
            existingKeys = [];
            for (var i = 0; i < allApplicationSettingsKeysList.length; i++) {
                if (keyInserted == allApplicationSettingsKeysList[i]) {
                    existingKeys.push(allApplicationSettingsKeysList[i]);
                }
            }

            if (existingKeys.length !== 0) {
                e.preventDefault();
                Swal.fire({
                    icon: 'warning',
                    text: '@DbResHtml.T("The application setting already exists!", "Resources")'
                })
                return;
            }

        }
    </script>
}