@using MainApp.MVC.Helpers;
@using Microsoft.AspNetCore.Localization;
@using SD.Helpers;
@model MainApp.MVC.ViewModels.IntranetPortal.UserManagement.UserManagementCreateRoleViewModel


@{
    ViewData["Title"] = @DbResHtml.T("Add role", "Resources");
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<div class="content-header bg-gradient-white border-bottom mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-muted mb-0"> @ViewData["Title"]</h4>
                <small class="text-muted">@DbResHtml.T("Create role, role claims and additional data", "Resources")</small>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Map" asp-area="IntranetPortal" class="text-success">@DbResHtml.T("Home", "Resources")</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="UserManagement" asp-area="IntranetPortal" class="text-success">@DbResHtml.T("User Management", "Resources")</a>
                    </li>
                    <li class="breadcrumb-item active"> @DbResHtml.T(@ViewData["Title"]?.ToString() ?? "Create role", "Resources")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form asp-area="IntranetPortal" asp-controller="UserManagement" asp-action="CreateRole" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h3 class="card-title"> @DbResHtml.T("Create form for add new role", "Resources")</h3>
                        </div>
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">@DbResHtml.T("Name", "Resources")</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @if (User.HasAuthClaim(SD.AuthClaims.UserManagementAddUsersAndRoles))
                                {
                                    <input type="submit" value="@DbResHtml.T("Create", "Resources")" class="mb-1 btn bg-gradient-success border-0" />
                                }
                                <a asp-area="IntranetPortal" asp-controller="UserManagement" asp-action="Index" class="mb-1 btn bg-gradient-secondary border-0">@DbResHtml.T("Back To List", "Resources")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-dark text-white">
                            <h3 class="card-title">@DbResHtml.T("Add additional privileges", "Resources")</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped my-4 w-100" id="addRoleTable">
                                    <thead>
                                        <tr>
                                            <th>@DbResHtml.T("Privilege name", "Resources")</th>
                                            <th>@DbResHtml.T("Privilege description", "Resources")</th>
                                            <th data-check-all="data-check-all">
                                                <div class="icheck-success mb-0">
                                                    <input id="checkAll" data-title="Check All" type="checkbox" data-toggle="tooltip">
                                                    <label for="checkAll">@DbResHtml.T("Check all claims", "Resources")</label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (SD.AuthClaim item in Model.Claims)
                                        {
                                            @Html.HiddenFor(z => z.Id)
                                            <tr>
                                                <td>
                                                    @item.Value
                                                </td>
                                                <td>
                                                    @item.Description
                                                </td>
                                                <td>
                                                    <div class="form-group clearfix">
                                                        <div class="icheck-success">
                                                            <input id="claims-@item.Value" class="roleClaims" name="ClaimsInsert" value="@item.Value" type="checkbox">
                                                            <label for="claims-@item.Value"></label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {

    <script>
        @{
            var httpContext = ViewContext.HttpContext;
            var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.TwoLetterISOLanguageName;
            var langPath = Url.Content("~/i18n/datatable/" + @currentCulture + ".json");
        }
            (function () {
                $(initTableCheckAll);

                function initTableCheckAll() {
                    $('[data-check-all]').on('change', function () {
                        var $this = $(this),
                            index = $this.index() + 1,
                            checkbox = $this.find('input[type="checkbox"]'),
                            table = $this.parents('table');

                        table.find('tbody > tr > td:nth-child(' + index + ') input[type="checkbox"]').prop('checked', checkbox[0].checked);
                    });
                }
            })();
        $(document).ready(function () {
            $('#addRoleTable').DataTable({
                paging: true,
                pageLength: 100,
                "language": {
                    "url": "@langPath"
                }

            });
        });
    </script>
}