@using DTOs.MainApp.BL.DetectionDTOs
@using MainApp.MVC.Helpers
@model List<DetectionRunDTO>

@{
    ViewData["Title"] = "Create Detection Run";
}

<div class="content-header bg-gradient-white border-bottom mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-muted mb-0"> @ViewData["Title"]</h4>
                <small class="text-muted">@DbResHtml.T("Create detection run", "Resources")</small>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#" class="text-success">@DbResHtml.T("Detection", "Resources")</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card d-flex">
                    <div class="card-header d-flex bg-dark text-white">
                        <h3 class="card-title">
                            @DbResHtml.T("New Detection Run", "Resources")
                        </h3>
                    </div>
                    <div class="card-body overlay-wrapper">
                        <div class="d-flex flex-row gap-2">
                            <!-- Name & Description & IsCompleted & Add/Choose Image -->
                            <div class="col-12 col-md-6">
                                <!-- Name -->
                                <div class="form-group">
                                    <label class="form-control-label mt-3" for="#inpName">
                                        @DbResHtml.T("Detection Run Name", "Resources")
                                    </label>
                                    <input type="text" name="Name" class="form-control" id="inpName" required />
                                </div>
                                <!-- Description -->
                                <div class="form-group">
                                    <label class="form-control-label mt-3" for="#inpDescription">
                                        @DbResHtml.T("Detection Run Description", "Resources")
                                    </label>
                                    <input type="text" name="Description" class="form-control" id="inpDescription" />
                                </div>
                                <!-- Add/Choose Image -->
                                <div class="form-group clearfix d-flex flex-row flex-grow-1 justify-content-center gap-2">
                                    <div class="icheck-success d-inline">
                                        <input type="radio" id="radioAddImage" name="radioInputImage" data-target="#tabAddImage" checked="">
                                        <label for="radioAddImage">
                                            @DbResHtml.T("Add Image", "Resources")
                                        </label>
                                    </div>
                                    @* <div class="icheck-success d-inline">
                                    <input type="radio" id="radioChooseImage" name="radioInputImage" data-target="#tabChooseImage" checked="">
                                    <label for="radioChooseImage">
                                    @DbResHtml.T("Choose Image", "Resources")
                                    </label>
                                    </div> *@
                                </div>
                                <div class="tab-content">
                                    <!-- Add new Image -->
                                    <div id="tabAddImage" class="tab-pane fade show active d-flex flex-column justify-content-center align-items-center">
                                        <div class="custom-file-upload-wrapper">
                                            <input type="file" id="inpImage" accept="image/*" class="hidden-custom-file-input" hidden>
                                            <label for="inpImage" class="btn btn-outline-success file-upload-input">
                                                <i class="fas fa-file-image"></i> &nbsp;&nbsp;
                                                @DbResHtml.T("Add an Image file", "Resources")
                                            </label>
                                        </div>
                                    </div>
                                    @* <!-- Choose Image from previous runs -->
                                    <div id="tabChooseImage" class="tab-pane fade">
                                    </div> *@
                                </div>
                            </div>
                            <!-- Show Added/Chosen Image -->
                            <div class="col-12 col-md-6">
                                <div class="show-uploaded-img-container" id="showInputImageContainer"></div>
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                            <!-- Is Completed -->
                            <div class="form-group clearfix">
                                <div class="icheck-success d-inline">
                                    <input type="checkbox" disabled id="chbIsCompleted" />
                                    <label for="chbIsCompleted">
                                        @DbResHtml.T("Run Is Completed", "Resources")
                                    </label>
                                </div>
                            </div>
                            <!-- Detect Btn -->
                            <button type="button" onclick="StartDetectionRun()" class="btn btn-success">
                                @DbResHtml.T("Detect", "Resources")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Document Ready
        $(function () {
            $('input[type="radio"][name="radioInputImage"]').on('change', function () {
                var targetTab = $(this).data('target');
                var activeTab = $('.tab-pane.active');

                // Fade out the current active tab
                activeTab.fadeOut(300, function () {
                    // Remove active class after fade out completes
                    activeTab.removeClass('active show');

                    // Fade in the new active tab
                    $(targetTab).fadeIn(300, function () {
                        // Add active class only after fade in completes
                        $(this).addClass('active show');
                    });
                });
            });

            // $('#inpImage').on('change', function (e) {
            //     $("#showInputImageContainer").empty();
            //     var file = e.target.files[0];
            //     var reader = new FileReader();
            //     //var img = new Image();
            //     //img.classList.add("show-uploaded-img-img");
            //     reader.onload = function (event) {
            //         // img.onload = function () {
            //         //     $("#showInputImageContainer").empty();
            //         //     $("#showInputImageContainer").append(this);
            //         // }

            //         // img.src = event.target.result;
            //     };
            //     reader.readAsDataURL(file);
            // });
        });

        function StartDetectionRun() {
            DisableAllChildControlsByContainerClass('content');

            const nameElem = document.getElementById('inpName');
            let nameValue = nameElem.value;

            const descriptionElem = document.getElementById('inpDescription');
            let descriptionValue = descriptionElem.value;

            const inpImgElem = document.querySelector('#inpImage');
            let imgFileName = '';
            let imgFile = null;
            if (inpImgElem && inpImgElem.files.length > 0) {
                imgFile = inpImgElem.files[0];
                imgFileName = inpImgElem.files[0].name;
            }

            if (hasValue(nameValue) === false || hasValue(descriptionValue) === false
                || hasValue(imgFile) === false || hasValue(imgFileName) === false) {
                Swal.fire({
                    text: "@DbResHtml.T("Detection Run must have a Name, Description and an Image", "Resources")",
                    icon: 'error'
                });
                return;
            }

            addOverlayToDivByQuerySelector('.card-body');

            let formData = new FormData();
            formData.append('name', nameValue);
            formData.append('description', descriptionValue);
            formData.append('imgFile', imgFile);
            formData.append('imgName', imgFileName);

            // for (let [key, value] of formData.entries()) {
            //     console.log(key, value);
            // }

            // Ajax
            $.ajax({
                type: "POST",
                url: '@Url.Action("StartDetectionRun", "Detection", new { area = "IntranetPortal" })',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    console.log('success');
                    console.log(data);
                    if (hasValue(data) === false || hasValue(data.data) === false) {
                        Swal.fire({
                            text: 'Detection Run Completed Successfully',
                            confirmButtonText: '@DbResHtml.T("Ok", "Resources")',
                            allowOutsideClick: false,
                            icon: "success"
                        })
                    }

                    removeOverlayByQuerySelector('.card-body');

                    // Get the checkbox element by its ID
                    var checkbox = document.getElementById('chbIsCompleted');
                    // Temporarily enable the checkbox to modify its state
                    checkbox.disabled = false;
                    checkbox.checked = true;
                    checkbox.disabled = true;

                    // Assuming 'response' contains the URL of the new image
                    var newImageUrl = data.data.detectionRunVisualizedOutImg; // Adjust according to your API response structure
                    //console.log("newImageUrl");
                    //console.log(newImageUrl);
                    // var imageElem = document.querySelector('#showInputImageContainer img');
                    // //console.log("image");
                    // //console.log(imageElem);
                    // if (hasValue(imageElem) === false) {

                    // }
                    // imageElem.src = '/' + newImageUrl;

                    var imageContainer = document.querySelector('#showInputImageContainer');

                    // Function to check if the image element exists
                    function hasValue(elem) {
                        return elem !== null;
                    }

                    // Attempt to find an existing img element within the container
                    var imageElem = imageContainer.querySelector('img');

                    if (!hasValue(imageElem)) {
                        // Create a new img element if one does not exist
                        imageElem = document.createElement('img');
                        // Set the source of the image
                        imageElem.src = '/' + newImageUrl;
                        // Append the new image element to the container
                        imageContainer.appendChild(imageElem);
                    } else {
                        // If an img element already exists, just update the source
                        imageElem.src = '/' + newImageUrl;
                    }
                },
                error: function (req, status, error) {
                    removeOverlayByQuerySelector('.card-body');

                    console.log('error');
                    Swal.fire({
                        text: "Error occured",
                        icon: "error"
                    });
                }
            });
        }
    </script>
}
