@using MainApp.MVC.Helpers
@using MainApp.MVC.ViewModels.IntranetPortal.Detection
@using Microsoft.AspNetCore.Localization
@using Newtonsoft.Json
@using SD.Helpers
@model IEnumerable<DetectionRunViewModel>

@{
    ViewData["Title"] = @DbResHtml.T("List of detection runs", "Resources");
}

<div class="content-header bg-gradient-white border-bottom mb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-muted mb-0"> @ViewData["Title"]</h4>
                <small class="text-muted">@DbResHtml.T("Access a comprehensive list of all detection runs to review and monitor the outcomes of each analysis session.", "Resources")</small>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Map" asp-area="IntranetPortal" class="text-success">@DbResHtml.T("Home", "Resources")</a>
                    </li>
                    <li class="breadcrumb-item active"> @DbResHtml.T(@ViewData["Title"]?.ToString() ?? "List of detection runs", "Resources")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  @*   <div class="card-header bg-dark text-white">
                        <h3 class="card-title">@DbResHtml.T("Detection Runs", "Resources")</h3>
                    </div> *@
                    <div class="card-body">
                        @if (User.HasAuthClaim(SD.AuthClaims.CreateDetectionRun))
                        {
                            <a asp-action="CreateDetectionRun" asp-controller="Detection" asp-area="IntranetPortal" class="mb-1 btn bg-gradient-primary float-left">
                                <i class="fas fa-plus"></i>
                                @DbResHtml.T("Create detection run", "Resources")
                            </a>
                        }
                        <button id="exportToExcelButton" class="btn btn-success mb-1 float-right" type="button" title="Export to Excel">
                            <i class="fas fa-file-alt"></i>
                        </button>
                        <div class="mt-5">
                            <table id="detectionRunsTable" class="table table-sm table-bordered table-striped custom-responsive-table">
                                <thead>
                                    <tr>
                                        <th>
                                            @DbResHtml.T("Name", "Resources")
                                        </th>
                                        <th>
                                            @DbResHtml.T("Description", "Resources")
                                        </th>
                                        <th>
                                            @DbResHtml.T("Created By", "Resources")
                                        </th>
                                        <th>
                                            @DbResHtml.T("Created On", "Resources")
                                        </th>
                                        <th class="notexport">
                                            @DbResHtml.T("Action", "Resources")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.CreatedBy?.UserName</td>
                                            <td>@item.CreatedOn?.ToString("dd.MM.yyyy")</td>
                                            <td>
                                                @if (User.HasAuthClaim(SD.AuthClaims.ViewDetectionRuns))
                                                {
                                                    <a asp-controller="Map" asp-action="Index" asp-route-detectionRunId="@item.Id" class="mb-1 btn bg-gradient-info text-white btn-xs" title="@DbResHtml.T("View detection run", "Resources")">
                                                        <i class="fas fa-map-marked-alt"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#NavlinkDetection").addClass("active");
    });
    $(document).ready(function () {
        $("#NavlinkDetection", "#NavlinkDetectionZones").addClass("active");
    });
</script>
@section Scripts{
    <script>
        @{
            var httpContext = ViewContext.HttpContext;
            var currentCulture = httpContext.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.TwoLetterISOLanguageName;
            var langPath = Url.Content("~/i18n/datatable/" + @currentCulture + ".json");
        }
        $(document).ready(function () {
            $('#detectionRunsTable').DataTable({
                paging: true,
                pageLength: 100,
                "language": {
                    "url": "@langPath"
                },
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        className: 'btn bg-gradient-success border-0 d-none export-to-excel-button',
                        text: '<i class="fas fa-file-alt"></i>',
                        titleAttr: "Export to excel",
                        filename: "Detection Runs - @DateTime.Now.ToString("dd.MM.yyyy")",
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    }
                ]
            });
                $("#exportToExcelButton").click(function () {
                    $(".export-to-excel-button").click();
                });
        });
    </script>
}