@using MainApp.MVC.Filters;
@using MainApp.MVC.Helpers;
@using SD.Helpers;
@inject ModulesAndAuthClaimsHelper modulesAndAuthClaims

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a asp-area="IntranetPortal" asp-controller="Map" asp-action="Index" class="brand-link bg-success border-bottom">
        <img src="~/logo.png" alt=" @DbResHtml.T("Waste detection", "Resources")" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light"> @DbResHtml.T("Waste detection", "Resources")</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Map" asp-area="IntranetPortal" id="NavlinkMap" class=" nav-link"  title="@DbResHtml.T("Map", "Resources")">
                        <i class="fas fa-map"></i> &nbsp;&nbsp;
                        <p>
                            @DbResHtml.T("Map", "Resources")
                        </p>
                    </a>
                </li>
                @if (User.HasAuthClaim(SD.AuthClaims.ViewDatasets))
                {
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Datasets" asp-area="IntranetPortal" id="NavlinkDatasets"  class="nav-link" title="@DbResHtml.T("Datasets", "Resources")">
                            <i class="fas fa-server"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Datasets", "Resources")
                            </p>
                        </a>
                    </li>
                }
                @if (User.HasAuthClaim(SD.AuthClaims.ViewDatasetClasses))
                {
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="DatasetClasses" asp-area="IntranetPortal" id="NavlinkDatasetClasses" class="nav-link" title="@DbResHtml.T("Dataset Classes", "Resources")">
                            <i class="fas fa-chart-bar"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Dataset Classes", "Resources")
                            </p>
                        </a>
                    </li>
                }
                @if (User.HasAuthClaim(SD.AuthClaims.ViewDetectionRuns))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="NavlinkDetection" >
                            <i class="fas fa-search-location"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Detection", "Resources")
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">                            
                            <li class="nav-item">
                                <a asp-action="CreateDetectionRun" asp-controller="Detection" asp-area="IntranetPortal" class="nav-link" id="NavlinkDetectionRun"
                                   title="@DbResHtml.T("Create Detection Run", "Resources")">
                                    <i class="fas fa-search-plus"></i> &nbsp;&nbsp;
                                    <p>
                                        @DbResHtml.T("Create Detection Run", "Resources")
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="DetectedZones" asp-controller="Detection" asp-area="IntranetPortal" class="nav-link" id="NavlinkDetectionZones"
                                   title="@DbResHtml.T("Detected Zones", "Resources")">
                                    <i class="fas fa-map-marked-alt"></i> &nbsp;&nbsp;
                                    <p>
                                        @DbResHtml.T("Detected Zones", "Resources")
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="ViewAllImages" asp-controller="Detection" asp-area="IntranetPortal" class="nav-link" id="NavlinkDetectionInputImages"
                                   title="@DbResHtml.T("Detection Input Images", "Resources")">
                                    <i class="far fa-file-image"></i> &nbsp;&nbsp;
                                    <p>
                                        @DbResHtml.T("Detection Input Images", "Resources")
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (User.HasAuthClaim(SD.AuthClaims.ViewLegalLandfillsManagement))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="NavlinkDetection">
                            <i class="fas fa-truck-loading"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Landfills management", "Resources")
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-action="ViewLegalLandfills" asp-controller="LegalLandfillsManagement" asp-area="IntranetPortal" class="nav-link" id="NavlinkDetectionRun"
                                   title="@DbResHtml.T("Legal Landfills", "Resources")">
                                    <i class="fas fa-industry"></i> &nbsp;&nbsp;
                                    <p>
                                        @DbResHtml.T("Legal Landfills", "Resources")
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="ViewPointCloudFiles" asp-controller="LegalLandfillsManagement" asp-area="IntranetPortal" class="nav-link" id="NavlinkDetectionRun"
                                   title="@DbResHtml.T("Legal Landfill Point Cloud Files", "Resources")">
                                    <i class="fas fa-file-contract"></i> &nbsp;&nbsp;
                                    <p>
                                        @DbResHtml.T("Point Cloud Files", "Resources")
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
               @if (User.HasCustomClaim("SpecialAuthClaim", "superadmin"))
               {
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="NavlinkSuperAdmin" title="@DbResHtml.T("Super admin", "Resources")">
                            <i class="fas fa-user-tie"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Super admin", "Resources")
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="IntranetPortal" asp-controller="ApplicationSettings" asp-action="Index" title="@DbResHtml.T("Application settings", "Resources")" class="nav-link" id="NavlinkApplicationSettings">
                                    <i class="fas fa-sm fa-cogs"></i>
                                    <p><small> @DbResHtml.T("Application settings", "Resources")</small></p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/LocalizationAdmin" title="@DbResHtml.T("Localization", "Resources")" class="nav-link">
                                    <i class="fas fa-sm fa-globe"></i>
                                    <p><small> @DbResHtml.T("Localization", "Resources")</small></p>
                                </a>
                            </li>
                        </ul>
                    </li>
               }
                @if (User.HasAuthClaim(SD.AuthClaims.Admin))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="NavlinkAdmin" title="@DbResHtml.T("Admin", "Resources")">
                            <i class="fas fa-user-alt"></i> &nbsp;&nbsp;
                            <p>
                                @DbResHtml.T("Admin", "Resources")
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (User.HasAuthClaim(SD.AuthClaims.UserManagement) && modulesAndAuthClaims.HasModule(SD.Modules.UserManagement))
                            {
                                <li class="nav-item">
                                    <a asp-area="IntranetPortal" asp-controller="UserManagement" asp-action="Index" title="@DbResHtml.T("User management", "Resources")" class="nav-link" id="NavlinkUserManagement">
                                        <i class="fas fa-users"></i>
                                        <p><small> @DbResHtml.T("User management", "Resources")</small></p>
                                    </a>
                                </li>
                            }
                            @if (User.HasAuthClaim(SD.AuthClaims.AuditLog) && modulesAndAuthClaims.HasModule(SD.Modules.AuditLog))
                            {
                                <li class="nav-item">
                                    <a asp-area="IntranetPortal" asp-controller="AuditLogs" asp-action="Index" title=" @DbResHtml.T("Audit logs", "Resources")" class="nav-link" id="NavlinkAuditLogs">
                                        <i class="fas fa-chart-line"></i>
                                        <p><small> @DbResHtml.T("Audit logs", "Resources")</small></p>
                                    </a>
                                </li>
                            }
                            @if (User.HasAuthClaim(SD.AuthClaims.SpecialActions) && modulesAndAuthClaims.HasModule(SD.Modules.SpecialActions))
                            {
                                <li class="nav-item">
                                    <a asp-area="IntranetPortal" asp-controller="SpecialActions" asp-action="Index" title="@DbResHtml.T("Special actions", "Resources")" class="nav-link" id="NavlinkSpecialActions">
                                        <i class="fas fa-rocket"></i>
                                        <p><small> @DbResHtml.T("Special actions", "Resources")</small></p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        
    </div>
</aside>

