@using MainApp.Helpers;
@model Models.ViewModels.IntranetUsersResetPasswordViewModel;
@{
    ViewData["Title"] = @DbResHtml.T("Reset password", "Resources");
    Layout = "~/Areas/IntranetPortal/Views/Shared/_LayoutPage.cshtml";
}
<p class="login-box-msg">Reset Password Form</p>
<form class="mb-3" method="post" asp-action="ResetPassword" asp-controller="Account" asp-area="IntranetPortal" id="submitForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="UserId" class="form-control" hidden />
    <input asp-for="Token" class="form-control" hidden />
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">@DbResHtml.T("New Password", "Resources")</label>
        <input asp-for="NewPassword" id="password" class="form-control" required onkeyup='checkPassword();'/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label">@DbResHtml.T("Confirm Password", "Resources")</label>
        <input asp-for="ConfirmNewPassword" id="confirmPassword" class="form-control" required onkeyup='checkPassword();'/>
        <span id='message'></span>
    </div>
    <div class="form-group">
        <button class="btn bg-gradient-success mt-3" type="submit">@DbResHtml.T("Change", "Resources")</button>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#submitForm').submit(function (e) {               
                if ($("#password").val() != "" || $("#confirmPassword").val() != "") {
                    var passwordMinLength = @Model.PasswordMinLength;
                    var passwordMustHaveLetters = "@Model.PasswordMustHaveLetters";
                    var passwordMustHaveNumbers = "@Model.PasswordMustHaveNumbers";
                    var regExpLetter = /[a-zA-Z]/g
                    if ($("#password").val().length < passwordMinLength || (passwordMustHaveLetters == "True" && !regExpLetter.test($("#password").val()))
                        || (passwordMustHaveNumbers == "True" && !/\d/.test($("#password").val()))) {
                        e.preventDefault();
                        Swal.fire({
                            icon: "warning",
                            text: '@DbResHtml.T("Password must contain minimum 10 characters, one letter, one number and one special character.","Resources")',
                            button: true
                        });
                        return;
                    }
                    if ($("#password").val() != $("#confirmPassword").val()) {
                        e.preventDefault();
                        Swal.fire({
                            icon: "warning",
                            text: '@DbResHtml.T("Passwords do not match!","Resources")',
                            button: true
                        });
                        return;
                    }
                }
            })
        });

        var checkPassword = function () {            
            var passwordMinLength = @Model.PasswordMinLength;
            var passwordMustHaveLetters = "@Model.PasswordMustHaveLetters";
            var passwordMustHaveNumbers = "@Model.PasswordMustHaveNumbers";
            var regExpLetter = /[a-zA-Z]/g

            if ($("#password").val() != '' || $("#confirmPassword").val() != '') {
                if ($("#password").val().length < passwordMinLength || (passwordMustHaveLetters == "True" && !regExpLetter.test($("#password").val()))
                    || (passwordMustHaveNumbers == "True" && !/\d/.test($("#password").val()))) {
                    $('#message').css('color', 'red');
                    var message = "@DbResHtml.T("Minimum password length: ", "Resources")" + passwordMinLength;

                    if (passwordMustHaveLetters == "True") {
                        message += "@DbResHtml.T(". Must contain at least one letter", "Resources")";
                    }
                    if (passwordMustHaveNumbers == "True") {
                        message += "@DbResHtml.T(". Must contain at least one number ", "Resources")";
                    }
                    $('#message').html(message);
                }
                else if ($("#password").val() == $("#confirmPassword").val()) {
                    $('#message').css('color', 'green');
                    $('#message').html('@DbResHtml.T("matching","Resources")');
                }
                else {
                    $('#message').css('color', 'red');
                    $('#message').html('@DbResHtml.T("not matching","Resources")');
                }
            }else{
                $('#message').empty();
            }
           
        }
    </script>
}

